body{
   margin: 0%;
}
form{
    padding: 20px;
   border-style: outset;
   padding-left: 50px;
   padding-top: 50px;
   padding-bottom: 50px;
   margin-right: 850px;
}

#btn{
   margin: 7px;
   padding: 15px;
   font-size: x-small;  
}